torch
torchvision
timm
pytorch-lightning
wandb
torchaudio
matplotlib
torchmetrics
pandas
ipykernel 
ipywidgets
streamlit
grad-cam==1.4.6
streamlit_free_text_select
warmup_scheduler
albumentations==1.4.14